// article image in Listing component card
.article-image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
}

// author profile avatar
.author-avatar {
  border-radius: 50%;
}

// meta info slice image
.meta-image {
  background: gray;
}

// gallery slice
.react-images__blanket {
  background: rgba(0, 0, 0, 1) !important;
}
