// article image in Listing component card
.article-image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
}

// author profile avatar
.author-avatar {
  border-radius: 50%;
}

// meta info slice image
.meta-image {
  background: gray;
}

// gallery slice
.react-images__blanket {
  background: rgba(0, 0, 0, 1) !important;
}

// page loader
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #222;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

// page-not-found
.pnf-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
